:host {
    width: 100%;
}

.DetailsPage {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: opacity;
    transition-timing-function: ease-out;

    &.hide {
        opacity: 0;
    }

    .background {
        height: 100vh;
        width: 100vw;

        position: fixed;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 20%;
            filter: blur(6px);
        }

        .cover {
            z-index: 1;

            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            
            opacity: .9;
            background-color: #4d4d4d;
            background: linear-gradient(135deg, #4d4d4d 0%, #2b2b2b 100%);
        }
    }

    .details-wrapper {
        --border: solid 1px rgba(255, 255, 255, .1);

        z-index: 2;

        width: min(850px, 80%);
        height: min(450px, 80%);
        max-height: 100vh;

        display: grid;
        grid-template-columns: min(50%, 250px) 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            'preview title'
            'preview content';

        border-radius: 6px;
        background-color: #4d4d4d;
        background: linear-gradient(135deg, #4d4d4d 0%, #2b2b2b 100%);
        box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.5);

        transition: width .4s, height .25s;

        .preview {
            grid-area: preview;

            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            border: var(--border);

            transition: padding .25s;

            img {
                width: 80%;
                // height: 150px;
                object-fit: contain;
            }
        }

        .title {
            grid-area: title;
            padding: 1rem;

            display: flex;
            // justify-content: center;
            align-items: center;

            overflow: hidden;
            border: var(--border);

            font-size: var(--fs-lg, 30px);

            h1 {
                max-width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .content {
            grid-area: content;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            overflow-y: auto;
            border: var(--border);

            font-size: var(--fs-md, 16px);

            transition: font-size .25s;

            &::-webkit-scrollbar { width: 6px }

            .comics {
                h4 {
                    font-size: 1.4em;
                }
            }
        }

        @media (max-width: 700px) {
            width: 100%;
            height: 100%;

            grid-template-columns: 100%;
            grid-template-rows: auto 200px 1fr;
            grid-template-areas: 'title' 'preview' 'content';

            overflow-y: auto;

            .preview {
                padding: .5rem;

                img {
                    width: auto;
                    height: 80%;
                }
            }

            .title {
                font-size: var(--fs-md, 18px);
                overflow: initial;

                h1 {
                    width: 100%;
                    white-space: initial;
                    text-align: center;
                }
            }

            .content {
                font-size: 1.1em;
                overflow-y: initial;
            }
        }
    }
}

.hide-spinner {
    pointer-events: none;
    width: 80px;
    height: 80px;

    position: fixed;
    top: 50%;
    left: 50%;

    display: inline-block;

    transition-property: opacity;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: hide-spinner 1.2s linear infinite;
    }

    &.hide {
        opacity: 0;
    }
}

@keyframes hide-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}