:host {
    width: 100%;
}

.HeaderComponent {
    width: 100%;
    height: max(600px, 50vh);

    overflow: hidden;

    background-image: url(../../../assets/superhero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .content {
        width: min(700px, 100%);
        height: 100%;
        margin: 0 auto;
        padding: 2rem 100px;

        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
        background-color: rgba(0, 0, 0, .75);

        transition: clip-path .25s, padding .25s;

        h1 {
            text-align: center;
            font-size: var(--fs-xl);
        }

        p {
            text-align: center;
            font-size: var(--fs-md);
        }
    }
}
