<div class="HeaderComponent">
    <div class="content">
        <h1>Marvel Characters</h1>

        <p>
            Step into the thrilling world of Marvel characters! Explore the backstories, epic battles, and incredible powers of Iron Man, Spider-Man, Captain America, Black Widow, and more. 
            <br /><br />
            Join us as we delve into the Marvel Comics universe and experience the adventure of a lifetime!
        </p>

        <primary-button (onClick)="onHeaderClick($event)">Get Started</primary-button>
    </div>
</div>
