/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #ed1b24;
    --primary-hover: #d4111b;
    --primary-active: #a50d15;
    --primary-disabled: #ed1b24a5;
    --primary-light: #ed1b243f;

    --secondary: #f78f3f;
    --secondary-hover: #f67e23;
    --secondary-active: #dc6509;
    --secondary-disabled: #f78f3fa5;

    --success: #23903c;
    --success-hover: #1e7b34;
    --success-active: #19672b;
    --success-disabled: #23903ca5;

    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-active: #bd2130;
    --danger-disabled: rgba(220, 53, 69, .65);

    --fs-xs: 9px;
    --fs-sm: 12px;
    --fs-md: 16px;
    --fs-lg: 22px;
    --fs-xl: 30px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;

    /* -webkit-appearance: none; */
    -webkit-tap-highlight-color: transparent;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Syncopate';
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input[type=submit] {
    cursor: pointer;
    border: none;

    &:disabled {
        cursor: not-allowed;
    }
}

input, 
textarea {
    outline: 0;
}

html, 
body { 
    min-height: 100vh; 
}

body {
    background-color: #4d4d4d;
    background: linear-gradient(135deg, #4d4d4d 0%, #2b2b2b 100%);

    font-size: var(--fs-md, 16px);
}

@keyframes ModalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes ModalFadeOut {
    to { opacity: 0; }
}

@keyframes ModalTranslateIn {
    0% { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
    100% { transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px))); }
}

@keyframes ModalTranslateOut {
    to { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
}

