<div [class]="CLASSNAME" (animationend)="animationDone($event)" [ngStyle]="{ '--level': level, '--next-level': level + 1 }">
    <div class="modal">
        <h1 class="title">{{ conf.title }}</h1>
        
        <div class="content">
            <p class="text" *ngFor="let text of conf.content">
                {{ text }}
            </p>
        </div>

        <div class="footer">
            <button 
                *ngIf="conf.onAccept"
                class="success"
                [id]="'primary-modal-success-btn-' + level"
                (click)="onAcceptClick($event)"
            >Accept</button>

            <button 
                *ngIf="conf.onCancel"
                class="danger"
                [id]="'primary-modal-danger-btn-' + level"
                (click)="onCancelClick($event)"
            >Cancel</button>

            <button 
                *ngIf="!conf.onAccept && !conf.onCancel"
                [id]="'primary-modal-default-btn-' + level"
                (click)="onDefaultClick($event)"
            >Cancel</button>
        </div>
    </div>
</div>
