.PrimaryModalComponent {
    z-index: 500;
    z-index: calc(500 + var(--level, 0));
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .3);

    animation: ModalFadeIn .4s;

    .modal {
        width: fit-content;
        min-width: 250px;
        max-width: 500px;
        max-width: min(500px, 90vw);
        padding-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        border: solid 1px #4d4d4d;
        border-radius: 1px;
        background-color: #262626;
        color: white;

        animation: ModalTranslateIn .3s;
        transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px)));

        .title {
            width: 100%;
            padding: 0 1rem;

            color: var(--primary, #2b2b2b);

            font-size: var(--fs-xl);
            font-weight: bold;
            text-align: center;
        }

        .content {
            padding: 0 1rem;

            display: flex;
            flex-direction: column;
            gap: .5rem;

            .text {
                width: 100%;
                color: inherit;
                font-size: var(--fs-md, 16px);
                text-align: left;
            }
        }

        .footer {
            width: 100%;
            height: 50px;
            margin-top: 1rem;
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

            button {
                color: white;
                background-color: var(--primary);
                &:hover { background-color: var(--primary-hover); }
                &:active { background-color: var(--primary-active); }

                &.success { background-color: var(--success); }
                &.success:hover { background-color: var(--success-hover); }
                &.success:active { background-color: var(--success-active); }

                font-size: var(--fs-md);
                text-transform: uppercase;
            }
        }
    }
}
