<div [class]="CLASSNAME" (animationend)="animationDone($event)" [ngStyle]="{ '--level': level, '--next-level': level + 1 }">
    <div class="modal">
        <h1 class="title">{{ conf.title }}</h1>
        
        <p class="text" *ngFor="let text of conf.content">{{ text }}</p>

        <div class="footer">
            <primary-button
                *ngIf="conf.onAccept"
                [id]="'primary-modal-success-btn-' + level"
                [className]="'success'"
                [styles]="{ width: '100px', padding: '.5rem .25rem' }"
                (onClick)="onAcceptClick($event)"
            >Aceptar</primary-button>

            <primary-button
                *ngIf="conf.onCancel"
                [id]="'primary-modal-danger-btn-' + level"
                [className]="'danger'"
                [styles]="{ width: '100px', padding: '.5rem .25rem' }"
                (onClick)="onCancelClick($event)"
            >Cancelar</primary-button>

            <primary-button
                *ngIf="!conf.onAccept && !conf.onCancel"
                [id]="'primary-modal-default-btn-' + level"
                [styles]="{ width: '100px', padding: '.5rem .25rem' }"
                (onClick)="onDefaultClick($event)"
            >Aceptar</primary-button>
        </div>
    </div>
</div>
