<div id="HomePage" class="HomePage">
    <app-header (onClick)="onHeaderClick($event)"></app-header>

    <div class="search-container">
        <h3>Search</h3>
        <app-search-input [value]="search" (onChange)="onChange($event)"></app-search-input>
    </div>

    <div id="character-list" class="character-list">
        <div class="character-container" *ngFor="let character of characters">
            <app-card [character]="character"></app-card>
        </div>
    </div>

    <div 
        class="empty"
        appIntersectionObserver
        #intersection="intersection"
        (isIntersecting)="isIntersecting($event)"
        [isContinuous]="true"
        [threshold]="1"
    ></div>
</div>
