:host {
    width: 100%;
}

.HomePage {
    width: 100%;
    display: grid;
    gap: 1.5rem;
    place-items: center;

    .character-list {
        width: 100%;
        padding: clamp(5vw, 3rem, 10vw);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        row-gap: 1.5rem;

        .character-container {
            display: flex;
            justify-content: center;
            align-items: center;

            // background-color: gray;
        }
    }

    .empty {
        min-height: 2px;
    }
}
