:host {
    width: 100%;
}

.HomePage {
    width: 100%;
    max-height: 100vh;

    display: grid;
    gap: 1.5rem;
    place-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    .search-container {
        margin: 0 auto;
        min-height: 20vh;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        // align-items: center;

        h3 {
            text-align: center;
            font-size: var(--fs-lg);
        }
    }

    .character-list {
        width: 100%;
        padding: clamp(5vw, 3rem, 10vw);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        row-gap: 1.5rem;

        .character-container {
            display: flex;
            justify-content: center;
            align-items: center;

            // background-color: gray;
        }
    }

    .empty {
        min-height: 2px;
    }
}
